.navbar-container{
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba($color: #000000, $alpha: .5);
    display: grid;
    gap: 1rem;
    grid-template-columns: 20% 1fr 15%;
    height: 60px;
    padding: 0 1.5rem;
    width: 100%;
    .menu.container{
        display: flex;
        justify-content: center;
        width: fit-content;
    }
}