
<div class="header">
    <h2 class="titulos-header">Agregar Sub</h2>
</div>
<hr>
<form [formGroup]="miFormulario" class="form-container" autocomplete="off" (ngSubmit)="agregarSub()">
    <div class="contacto-container inputs-container">
        <h3 class="subtitulos-header">Información de contacto</h3>
        <div class="input-container" class="{{input}}-container" *ngFor="let input of contactoInputs"> 
            <input type="text"  [ngClass]="{'input-form':true
                                            }" 
                                [formControlName]="input"
                                
            >
            <label [ngClass]="{ 'label-form':true,
                                'label-active':uiService.labelActive(this.miFormulario,input)
                                }">
                                {{input|titlecase}}
            </label>
        </div>
    </div>

    <div  class="map-container">
        <div class="map-header">
            <h3 class="subtitulos-header">
                Geolocalización
            </h3>
        </div>
        <div #mapa class="map">
        </div>
    </div>

    <div class="direccion-container inputs-container">
        <h3 class="subtitulos-header">Dirección</h3>
        <div class="input-container" class="{{input}}-container" *ngFor="let input of direccionInputs"> 
            <input  type="text" 
                    *ngIf="input !== 'encargado' && input !== 'direcciones'" 
                    [ngClass]="{'input-form':true
                                }" 
                                [formControlName]="input">
            <label *ngIf="input !== 'encargado' && input !== 'direcciones'" 
                    [ngClass]="{ 'label-form':true,
                                'label-active':uiService.labelActive(this.miFormulario,input)
                                }">
                                {{input|titlecase}}
            </label>
            <button type="button" class="btn fa-pen-container" *ngIf="input !== 'encargado' && input !== 'direcciones' && input !== 'lat' && input !== 'lng'" (click)="habilitarCampo(input)" >
                <i  class="fas fa-pen"></i>
            </button>
        </div>

        <div  class="input-container direcciones-container">
            <select #selectDireccion [ngClass]="{'input-form':true}" 
                    formControlName="direcciones"
            >
                <option *ngFor="let item of direcciones; let i=index" [value]="i" (click)="selectDirecciones()">{{item.formatted_address}}</option>
            </select>
            <label  [ngClass]="{ 'label-form':true,
                                'label-active':uiService.labelActive(this.miFormulario,'direcciones')
                                }">
                                {{'Elige una dirección'}}
            </label>
        </div>

        <div class="input-container encargado-container">
            <select [ngClass]="{'input-form':true}" 
                    formControlName="encargado">
                <option *ngFor="let item of subs" [value]="item.usuario">{{item.nombre}} <small>({{item.usuario}})</small></option>
            </select>
            <label  [ngClass]="{ 'label-form':true,
                                'label-active':uiService.labelActive(this.miFormulario,'encargado')
                                }">
                                {{'Encargado'|titlecase}}
            </label>
        </div>

        <button class="btn btn-secondary btn-agregar-encargado" type="button" (click)="quitarMarcador()">Registrar encargado</button>

        <button class="btn btn-primary btn-agregarsub" type="submit">
            Agregar Subdistribuidor
        </button>
    </div>
</form>
