// .header{
    
// }

.form-container{
    height: fit-content;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 60%;
    grid-template-areas: "contacto contacto"

    ;
    width: 100%;
    .inputs-container{
        
        display: grid;
        gap:1.2rem;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 30px;
        grid-auto-rows: var(--size-inputs);
        .subtitulos-header{
            grid-area: header;
        }
        .nombre-container{
            grid-area: nombre;
        }
        .correo-container{
            grid-area: correo;
        }
        .telefono-container{
            grid-area: telefono;
        }
        .calle-container{
            grid-area: calle;
        }
        .numero-container{
            grid-area: numero;
        }
        .numeroInt-container{
            grid-area: numInt;
        }
        .cp-container{
            grid-area: cp;
        }
        .colonia-container{
            grid-area: colonia;
        }
        .municipio-container{
            grid-area: municipio;
        }
        .estado-container{
            grid-area: estado;
        }
        .lat-container{
            grid-area: lat;
        }
        .lng-container{
            grid-area: lng;
        }
        .encargado-container{
            grid-area: encargado;
        }
        .btn-agregar-encargado{
            grid-area: select;
            padding: 0;
        }
        .direcciones-container{
            grid-area: direcciones;
        }
    }
    .contacto-container{
        grid-area: contacto;
        grid-template-areas:    "header header header header"
                                "nombre correo correo telefono"
    }
    .direccion-container{
        grid-template-columns: repeat(6,1fr);

        grid-template-areas:    "header header header header header header"
                                "lat lat lat lng lng lng"
                                "direcciones direcciones direcciones direcciones direcciones direcciones"
                                "calle calle calle calle numero numero "
                                " numInt numInt cp cp  colonia colonia"
                                "municipio municipio municipio estado estado estado"
                                "encargado encargado encargado select select select" 
                                "btn btn btn btn btn btn"

        ;

        .btn-agregarsub{
            grid-area: btn;
            padding: 0;
        }
    }

    .map-container{
        display: grid;
        gap: 1rem;
        grid-template-rows:30px;
        .map{
            height: 100%;
        }
    }
}
